$default-font: "Exo 2", sans-serif;
$main: #008AD0;
$accent: #E37035;
$light: #008AD0;
$active: #006BB7;
$text: #2d2d2d;
$blue: #2D527C;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
