<!-- <footer id="abc_footer">
  <div class="footer_content">
    <a href="#" class="footer_logo logo">
      <img src="img/_src/ABC_logo.svg" alt="" class="logo_image">
      <span>ART OF BODY CONTROL</span>
    </a>
    <div class="footer_social">
      <a href="#"><img src="img/_src/instagram.svg" alt="" class="img-responsive"></a>
      <a href="#"><img src="img/_src/facebook.svg" alt="" class="img-responsive"></a>
      <a href="#"><img src="img/_src/youtube.svg" alt="" class="img-responsive"></a>
    </div>
  </div>
</footer> -->
<script src="js/scripts.min.js"></script>

</body>
</html>